<ion-header>
  <ion-toolbar>
    <ion-title>..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row fit-page">
    <div class="col-md-6 bg-light"></div>
    <div class="col-md-6">
      <div class="login-action-body">
        <div class="element ion-text-center">

        <form class="mt-6">
          <div class="mb-4">
            <ion-title>Register</ion-title>
          </div>
          <div class="input-element">
            <ion-item lines="none" class="br-10">
              <ion-label class="input-label">Email</ion-label>
            <ion-input type="text" class="input-field" value="michael.okoh@turntabl.io"></ion-input>
            </ion-item>
          </div>

          <div class="input-element">
            <ion-item lines="none" class="br-10">
              <ion-label class="input-label">Password</ion-label>
            <ion-input type="password" class="input-field" value="incredible9#"></ion-input>
            </ion-item>
          </div>

          <div lines="none" class="ion-text-center w100 mt-3">
            <ion-button color="dark" size="medium" class="">Create Account</ion-button>
          </div>

        </form>

        </div>
      </div>
    </div>
  </div>
 
</ion-content>
